@{
    ViewData["Title"] = "Home Page";
}

<div class="text-start">
    <h1 class="display-4">Bem-vindo!</h1>
    <h2> Escolha o que quer explorar hoje:</h2>

    <ul class="navbar-nav flex-grow-1 flex-column">
        <li class="nav-item">
            <a  class="nav-link text-center btn-basic" type="button" asp-area="" asp-controller="OdontoPacientes" asp-action="Index">Pacientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-center btn-basic" type="button" asp-area="" asp-controller="OdontoEnderecos" asp-action="Index">Enderecos</a>
        </li>
    </ul>
</div>